@import url(https://fonts.googleapis.com/css?family=Roboto|Arvo);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body {
	padding-top:20px;
	padding-bottom: 0px;
	font-family: 'Roboto', sans-serif;

	/*copied from twitter main website*/
	background-image: url(https://abs.twimg.com/images/themes/theme1/bg.png);
	background-attachment: fixed;
	background-repeat: repeat;
	background-repeat: no-repeat;
	background-color: #C0DEED;
}

.tweet-div{
	color: #000;
	text-align: left;
	padding: 10px;
	border-bottom: 1px solid #C0DEED;
	background-color: white;
}

.tweet-div img{
	float: left;
	margin: 5px 15px 5px 5px;
	padding: 0%;
	width: 50px;
}

.tweet-div a{
	font-weight: 200;
	color: rgb(142, 193, 218);
}

.tweet-div a:hover{
	text-decoration: none;
}

.tweet-div p{
	padding-top: 0.5%;
	margin: 0%;
	font-size: 12px;
}

.info-icon{
	font-size: 13px;
	border-right: 2px solid #C0DEED;
	padding-right: 10px;
	margin-right: 10px;
}

.info-icon:last-child{
	border-right: none;
}

.info-icon i{
	font-size: 13px;
}